FIREBASE_API_KEY=AIzaSyBD6TkUg5F_j9C2_VK6pWf-z34Iyszp0LE
FIREBASE_AUTH_DOMAIN=uniasselvi-digital.firebaseapp.com
FIREBASE_DATABASE_URL=https://uniasselvi-digital.firebaseio.com
FIREBASE_PROJECT_ID=uniasselvi-digital
FIREBASE_STORAGE_BUCKET=uniasselvi-digital.appspot.com
FIREBASE_MESSAGING_SENDER_ID=540573107988
FIREBASE_APP_ID=1:540573107988:web:59af50ad04f91284fb2401
FIREBASE_MEASUREMENT_ID=G-BYSN6ETYMV

# Opcional: preencha apenas na maquina autorizada.
OPENAI_API_KEY=
